

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 20px;
}

.navbar__logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: green;
  flex-grow: 1;
  text-align: center;
}

.navbar__toggle {
  cursor: pointer;
}

.navbar__toggle .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #333;
}

